
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright-Aboubacar Camara:
      <a href="https://mdbootstrap.com/education/bootstrap/">sonatelacademy-symfony.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->